<div *ngIf = "this.showError" class="error-block">There was error in adding employee, try another email</div>
<h1>Employee List</h1>
<input type="button" value="Add New Employee" class="btn btn-info" (click)="add()" />
<input type="text" (input) = "this.loadEmployees()" [(ngModel)] = "this.paging.Search" 
            placeholder="Find employee by name, email, birthday or salary" class="form-control mt-3">
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Birth</td>
            <td>Salary</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of this.paging.Items">
            <ng-template [ngIf]="employee?.Id != p.Id" [ngIfElse]="edit">
                <td>{{p?.Name}}</td>
                <td>{{p?.Email}}</td>
                <td>{{p?.Birth | date}}</td>
                <td>{{p?.Salary}}</td>
                <td>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button class="btn btn-md btn-primary edit-button" (click)="editEmployee(p)">Edit</button>
                    <button class="btn btn-md btn-danger" (click)="delete(p)">Delete</button>
                   
                </div>
                </td>
            </ng-template>
        </tr>
        <button class="btn btn-md" [disabled]="!this.paging.HasPreviousPage" (click) = "goToPreviousStep()">Previous</button>
        <button class="btn btn-md" [disabled]= "!this.paging.HasNextPage"(click) = "goToNextStep()">Next</button>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <form  #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
        <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="employee.Name" class="form-control" name="empName"
        #empName="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && 
        empName.invalid }" required/>
       </div>
        <div *ngIf="f.submitted && empName.invalid" class="invalid-feedback">
            <div *ngIf="empName.errors.required">Employee's Name is required</div>
        </div>
        <div class="form-group">
        <label>Email</label>
      <input type="text" [(ngModel)]="employee.Email" class="form-control" name="empEmail"
       #empEmail="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && 
        empEmail.invalid }" required/>
      </div>
      <div *ngIf="f.submitted && empEmail.invalid" class="invalid-feedback">
        <div *ngIf="empEmail.errors.required">Employee's Email is required</div>
    </div>
      <div class="form-group">
            <label>Date of birth</label>
      <input type="date" [(ngModel)]="employee.Birth" class="form-control" value="2000-07-22" name="empBirth"
      #empBirth="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && 
      empBirth.invalid }" required/>
      </div>
      <div *ngIf="f.submitted && empBirth.invalid" class="invalid-feedback">
        <div *ngIf="empBirth.errors.required">Employee's birthday is required</div>
    </div>
      <div class="form-group">
            <label>Salary</label>
       <input type="number" [(ngModel)]="employee.Salary" class="form-control" name="empSalary"
       #empSalary="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && 
      empSalary.invalid }" required/>
       </div>
       <div *ngIf="f.submitted && empSalary.invalid" class="invalid-feedback">
        <div *ngIf="empSalary.errors.required">Employee's Salary is required</div>
    </div>
       <div>
        <button  class="btn btn-success">Save</button>
        <input type="button" value="Edit" (click)="cancel()" class="btn btn-sm btn-warning" />
        </div>
    </form>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <form #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate autocomplete="on">
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="employee.Name" class="form-control" name="empName"  #empName="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted &&  empName.invalid }" required/>
    </div>
    <div *ngIf="f.submitted && empName.invalid" class="invalid-feedback">
        <div *ngIf="empName.errors.required">Employee's Name is required</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="employee.Email" class="form-control" name="empEmail" #empEmail="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted &&  empEmail.invalid }" required/>
    </div>
    <div *ngIf="f.submitted && empEmail.invalid" class="invalid-feedback">
        <div *ngIf="empEmail.errors.required">Employee's Email is required</div>
    </div>
    <div class="form-group">
        <label>Birth</label>
        <input type="date" [(ngModel)]="employee.Birth" class="form-control" name="empBirth" #empBirth="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted &&  empBirth.invalid }" required/>
    </div>
    <div *ngIf="f.submitted && empBirth.invalid" class="invalid-feedback">
        <div *ngIf="empBirth.errors.required">Employee's Birthday is required</div>
    </div>
    <div class="form-group">
        <label>Salary</label>
        <input type="number" [(ngModel)]="employee.Salary" class="form-control" name="empSalary" #empSalary="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted &&  empSalary.invalid }" required/>
    </div>
    <div *ngIf="f.submitted && empSalary.invalid" class="invalid-feedback">
        <div *ngIf="empSalary.errors.required">Employee's Salary is required</div>
    </div>
    <div>
        <button  class="btn btn-success">Save</button>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
</form>
</ng-template>
